.dark {
    background-color: #2d3748;
    color: #ffffff;
  }
  
  .dark nav button {
    background-color: #4a5568;
    color: #ffffff;
  }
  
  .dark select, .dark input {
    background-color: #4a5568;
    color: #ffffff;
    border: 1px solid #ffffff;
  }
  
  .currency-converter {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; /* Light theme background */
    color: #333333; /* Light theme text color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .currency-converter-dark {
    background-color: #2d3748; /* Dark theme background */
    color: #a0aec0; /* Dark theme text color */
  }
  
  .currency-comparison {
    margin-bottom: 15px;
  }
  
  .currency-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .amount-input,
  .converted-amount {
    border: 1px solid #cbd5e0;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
  }
  
  .currency-selectors {
    display: flex;
    gap: 10px;
    align-items: center
  }  